<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>larazone</title>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>
<body>
    <section id="header1">
        
<a href="#" ><img src="/images/logo5.png" class="logo"  ></a>
<div>
    <ul id="navbar">
        <a href="#" id="close"><i class="fa-solid fa-rectangle-xmark"></i></a>
        <li><a class="active" href="/index">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart"><i id="igbag"class="fa-solid fa-bag-shopping"></i></a></li>
        <!-- <li><a href="/mainpage"><i class="fa-regular fa-user"></i></a></li> -->
        <div class="dropdown">
       <li ><button onclick="myFunction()" class="dropbtn"> <i class="fa-regular fa-user"></i></button>  </li>
       <div id="myDropdown" class="dropdown-content">
        <!-- <a href="/signup">Signup</a> -->
        <a href="/login">Log in</a>
        <a href="/mainpage">personal details</a>
        <a href="/forgotpassword">Forgot Password</a>
        <a href="/chatbox">Chat</a>
        <a href="/logout">Log out</a>
        
      </div></div>
    </ul>
    
</div>
<div id="mobile">
    
    <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
    <i id="bar" class="fa-solid fa-burger"></i>
   
</div>
    </section>
    
    <section class="hero1" >
        <h4>Trade-in-order</h4>
        <h2 style="color:white;">Super value deals</h2>
        <h1 style="color:black">On all products</h1>
        <p style="color:white;">Save more with coupons & up to 70% off</p>
        <button>Shop Now</button>
        <a id="chat"  href="/chatbox"><i class="fa-regular fa-message" id="chaticon"   ></i> </a>
    </section>
    <section id="feature" >
       <div class="febox">
           <img src= "/images/f1.png" class="img">
           <h6 >Free Shipping</h6>
           
       </div>
       <div class="febox">
        <img src= "/images/f2.png"class="img">
        <h6 >Online Order</h6>
        
    </div>
    <div class="febox">
        <img src= "/images/f3.png"class="img">
        <h6>Save Money</h6>
        
    </div>
    <div class="febox">
        <img src= "/images/f4.png"class="img">
        <h6 >Discount</h6>
        
    </div>
    <div class="febox">
        <img src= "/images/f5.png"class="img">
        <h6 >Happy Shopping</h6>
        
    </div>
    <div class="febox">
        <img src= "/images/f6.png"class="img">
        <h6 >24/7 Support</h6>
        
    </div>
    </section>
    <section id="head">
        <div><h2 style="color: purple;">Featured Products</h2>
            <p>Summer Collection New Modern Design</p></div>
    </section>
    <section id="products"class="sectionp">
        
        <div class="procontainer">
             <div class="pro">
                <img src="/images/sneakers.jpg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>Super cool Sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div>
                <a href="#"><i  id="shop"class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/sneaker1.jpeg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>Super cool Sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>

       <div class="procontainer">
             <div class="pro">
                <img src="/images/sneaker9.jpeg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>Super cool Sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div >
                <a href="#"><i id="shop" class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/shoes.jpg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>summer cool sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>
       <div class="procontainer">
             <div class="pro">
                <img src="/images/sneakers2.jpeg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>Super cool Sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div>
                <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/sneakers3.jpeg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>Super cool Sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>
       <div class="procontainer">
        <div class="pro">
           <img src="/images/sneakers4.jpeg" alt="shirts"class="shirt">
           <div class="des">
               <h6>Super cool Sneakers</h6>
               
               <div class="star">
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
               </div>
                <h4>Rs500</h4>
           </div>
           <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

        </div>
        
   </div>
   <div class="procontainer">
    <div class="pro">
       <img src="/images/sneakers5.jpeg" alt="shirts"class="shirt">
       <div class="des">
           <h6>Super cool Sneakers</h6>
           
           <div class="star">
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
           </div>
            <h4>Rs500</h4>
       </div>
       <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

    </div>
    
    </div>
        
       
    </section>
    <section class="banner">
        <h5 style="font-size: 25px;">Repair Services</h5>
        <h3 style="font-size: 30px;">Up to 70% Off- All t-Shirts & Accessories</h3>
        <button>Explore More</button>

    </section>
    <section id="textnew">
        <h1 style="color:purple">New Arrivals</h1>
        <h4 >New Collections</h4>
    </section>
    
    <section id="products"class="sectionp">
       
        <div class="procontainer">
           
             <div class="pro">
                <img src="/images/sneakers6 (2).jpeg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>Super cool Sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div>
                <a href="#"><i id="shop" class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/image1.jpg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>summer cool sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>

       <div class="procontainer">
             <div class="pro">
                <img src="/images/sneakers6.jpeg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>summer cool sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div >
                <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/sneakers7.jpeg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>summer cool sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>
       <div class="procontainer">
             <div class="pro">
                <img src="/images/sneakers.jpg" alt="shirts"class="shirt">
                <div class="des">
                    <h6>summer cool sneakers</h6>
                    
                    <div class="star">
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                        <a href="#"><i class="fa-solid fa-star"></i></a>
                    </div>
                     <h4>Rs500</h4>
                </div>
                <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

             </div>
             
        </div>
        <div class="procontainer">
            <div class="pro">
               <img src="/images/sneaker1.jpeg" alt="shirts"class="shirt">
               <div class="des">
                   <h6>summer cool sneakers</h6>
                   
                   <div class="star">
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                       <a href="#"><i class="fa-solid fa-star"></i></a>
                   </div>
                    <h4>Rs500</h4>
               </div>
               <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

            </div>
            
       </div>
       <div class="procontainer">
        <div class="pro">
           <img src="/images/sneaker9.jpeg" alt="shirts"class="shirt">
           <div class="des">
               <h6>summer cool sneakers</h6>
               
               <div class="star">
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
                   <a href="#"><i class="fa-solid fa-star"></i></a>
               </div>
                <h4>Rs500</h4>
           </div>
           <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

        </div>
        
   </div>
   <div class="procontainer">
    <div class="pro">
       <img src="/images/sneakers2.jpeg" alt="shirts"class="shirt">
       <div class="des">
           <h6>summer cool sneakers</h6>
           
           <div class="star">
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
               <a href="#"><i class="fa-solid fa-star"></i></a>
           </div>
            <h4>Rs500</h4>
       </div>
       <a href="#"><i id="shop"class="fa-solid fa-cart-shopping"></i></a>

    </div>
    
    </div>
        
       
    </section>
    <section class="news">
        <div class="letter">
            <h3 style="color: rgb(7, 7, 7);font-size: 30px;"><b>Sign Up for Newsletters</b></h4>
            <h3 style="color: rgb(5, 5, 5);" >Get Email Updates about our latest shop and Special offers</h4>
        </div>
        <div id="form">
            <input type="text" placeholder="your email address">
            <button>Sign Up</button>
        </div>
    </section>
    
    <footer class="sectionp">
        <div class="col">
            <img src="/images/logo5.png" style="width:150px; height:75px">
            <h4 style="margin-top: 20px;margin-bottom: 14px;">Contact</h4>
            <p><strong>Address:</strong> ABC colony,Tamilnadu<br><strong>Phone:</strong>1234567890<br><strong>Hours:</strong>9.00 AM-10.30 PM</p>
       
        <div id="follow">
            <h4>Follow us</h4>
    
                <a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
            
          </div> 
        </div>
        <div id="about">
            <h4>About</h4>
            <ul> 
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
           
        </div>
        <div id="myacc">
            <h4>My Account</h4>
            <ul>
             <li> <a href="#">Sign In</a></li>
             <li><a href="#">View Cart</a></li>
             <li> <a href="#">MY Wishlist</a></li>
             <li><a href="#">Track My Order</a></li>
             <li> <a href="#">Help</a></li>   
             </ul>
           
        </div>
        <div id="install">
            <h4>Install App</h4>
            <p>From App Store Or Google Play</p>
            <div id="row">
                <img  style="width:100px"   src="/images/en_badge_web_generic.png" alt="play store">
                <img src="" alt="">
            <p>Secured Payment Gateway</p>    
                <img style="width:100px"   src="/images/payment.jpg" alt="">
            </div>
         </div>
         <div id="copy"> <p>@2024 Larazone HTML CSS Template</p></div>
   
</footer>
      <script src="/javascripts/first.js"></script>
      
</body>
</html>